*.egg-info
.idea
outputs
logs
wandb
MUJOCO_LOG.TXT
deploy/robots/go2/build
deploy/robots/g1/build
deploy/robots/h1_2/build
deploy/robots/g1_23dof/build
deploy/robots/r1/build
deploy/robots/a2/build
src/assets/motions/g1/dance1_subject2.npz
simulate/build
__pycache__
private
.claude
.codex
temp
*.bbl
*.synctex.gz
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
results
out